/* GENERAL */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", serif;
  background-color: rgb(0, 0, 33);
  color: white;
}

html {
  scroll-behavior: smooth;
}

p {
  color: wheat;
}

/* TRANSITION */

a,
.button {
  transition: all 300ms ease;
}

/* navigation_bar */

nav,
.navigation_bar_links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
  background-color: rgb(18, 18, 62);
}

.navigation_bar_links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: wheat;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

#navigation_logo_element {
  display: block;
  color: white;
  font-size: 2rem;
  font-weight: 600;
  width: 515px;
  display: inline-block;
  white-space: nowrap;
}

#hamburger_logo_element {
  display: block;
  color: white;
  font-size: 2rem;
  font-weight: 600;
  width: 515px;
  display: inline-block;
  white-space: nowrap;
}

.navigation_logo:hover {
  cursor: pointer;
}

/* hamburger_navigation */

#hamburger_navigation {
  display: none;
}

.hamburger_menu {
  position: relative;
  display: inline-block;
}

.hamburger_icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger_icon span {
  width: 100%;
  height: 2px;
  background-color: wheat;
  transition: all 0.3s ease-in-out;
}

.hamburger_menu_links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: inherit;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.hamburger_menu_links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: wheat;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.hamburger_menu_links a:hover {
  color: rgb(153, 153, 226);
}

.hamburger_menu_links li {
  list-style: none;
}

.hamburger_menu_links.open {
  max-height: 300px;
}

.hamburger_icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger_icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger_icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger_icon span:first-child {
  transform: none;
}

.hamburger_icon span:first-child {
  opacity: 1;
}

.hamburger_icon span:first-child {
  transform: none;
}

/* SECTIONS */

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section_container {
  display: flex;
}

#profile_elements {
  color: rgb(170, 107, 228);
  font-size: 1.5rem;
  width: 500px;
  height: 50px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
}

/* profile */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.picture_container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.profile_text {
  align-self: center;
  text-align: center;
}

.profile_text p {
  font-weight: 600;
}

.text_p1 {
  font-weight: 100;
  text-align: center;
  color: wheat;
}

.text_p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
  background-color: rgb(96, 3, 115);
  color: wheat;
  display: inline-block;
}

.title {
  font-size: 3rem;
  text-align: center;
  color: rgb(170, 107, 228);
}

#socials_container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
  cursor: pointer;
}

#socials_container img {
  max-width: 30px;
  height: auto;
  filter: invert(1);
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
  filter: invert(1);
}

/* buttons */

.button_container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.button {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.button_color_1 {
  border: rgb(96, 3, 115) 0.1rem solid;
  background: wheat;
  color: rgb(96, 3, 115);
}

.button_color_1:hover {
  border: rgb(96, 3, 115) 0.1rem solid;
  background: rgb(96, 3, 115);
  color: wheat;
  cursor: pointer;
}

.button_color_2 {
  border: rgb(96, 3, 115) 0.1rem solid;
  background: rgb(96, 3, 115);
  color: wheat;
}

.button_color_2:hover {
  border: rgb(96, 3, 115) 0.1rem solid;
  background: wheat;
  color: rgb(96, 3, 115);
  cursor: pointer;
}

.button_container {
  gap: 1rem;
}

/* about */

#about {
  position: relative;
}

.about_containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about_details_container {
  justify-content: center;
  flex-direction: column;
}

.about_containers,
.about_details_container {
  display: flex;
}

.about_pic {
  border-radius: 2rem;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
  filter: invert(1);
}

.details_container {
  padding: 1.5rem;
  flex: 1;
  background: rgb(96, 3, 115);
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.about_containers {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Align items at the top */
  gap: 4rem;
}

.experience_section,
.education_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.experience_section .icon,
.education_section .icon {
  margin-bottom: 10px; /* Adjust spacing as needed */
}

.experience_section h3,
.education_section h3 {
  margin: 10px 0; /* Adjust spacing as needed */
}

.experience_section p,
.education_section p {
  margin: 0; /* Adjust spacing as needed */
}

.timeline {
  position: relative;
  margin: 20px 0;
  padding: 0;
  list-style: none;
}

.timeline::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 2px;
  background: rgb(204, 204, 204);
}

.timeline_item {
  position: relative;
  width: 50%;
  padding: 10px 40px;
  box-sizing: border-box;
}

.timeline_item.left {
  left: 0;
  text-align: right;
}

.timeline_item.right {
  left: 50%;
  text-align: left;
}

.timeline_item::before {
  content: "";
  position: absolute;
  top: 15px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgb(204, 204, 204);
}

.timeline_item.left::before {
  right: -10px;
}

.timeline_item.right::before {
  left: -10px;
}

.timeline_item:hover::before {
  background: aqua;
}

.section_container {
  gap: 4rem;
  height: 80%;
}

.picture_container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

/* EXPERIENCE SECTION */

#experience {
  position: relative;
}

.experience-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience_details_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}

/* PROJECTS SECTION */

#projects {
  position: relative;
}

.color-container {
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
}

.project-img {
  border-radius: 2rem;
  width: 90%;
  height: 90%;
}

.project-title {
  margin: 1rem;
  color: black;
}

.project_button {
  color: black;
  border-color: rgb(163, 163, 163);
}

/* CONTACT */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

/* FOOTER SECTION */

footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}
